@page
@model YourPageModel
@{
    ViewData["Title"] = "Тестирование";
}

@section scripts {
    <script src="~/js/index.js"></script>
    <script src="~/js/sweetalert2.js"></script>
}


<style>
    #yourSelectElement {
        background-color: initial; /* начальный цвет */
        /* Другие стили по вашему выбору */
    }
</style>

<style>
    .question-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .question-frame {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
        margin: 10px;
        width: 400px;
        text-align: left; /* Выравнивание текста по левому краю */
    }

    .question-input {
        margin-bottom: 5px;
        display: flex;
        align-items: center; /* Выравнивание по вертикали */
    }

    .question-input label {
        width: 80%; /* Ширина label */
        text-align: left; /* Выравнивание текста по левому краю в label */
        margin-right: 10px; /* Отступ между label и input */
    }

    .question-input input {
        width: 20%; /* Занимает 100% ширины доступной области */
        box-sizing: border-box; /* Чтобы полная ширина включала в себя padding и border */
        text-align: right; /* Выравнивание текста по правому краю в input */
    }

    .question-input select
    {
        width: 20%; /* Занимает 100% ширины доступной области */
        box-sizing: border-box; /* Чтобы полная ширина включала в себя padding и border */
    }

    h1 {
        text-align: center; /* Центрирует текст внутри элемента h1 */
    }

    .put label {
        width: 80%; /* Ширина label */
        margin-right: 10px; /* Отступ между label и input */
    }

    .put input {
        width: 35%; /* Занимает 100% ширины доступной области */
        text-align: center; /* Выравнивание текста по правому краю в input */
    }

    .custom-button {
        padding: 12px 24px; /* Увеличенные отступы для более крупной кнопки */
        font-size: 22px; /* Увеличенный размер текста */
        border: 1px solid #ccc; /* Тонкая граница цвета #ccc */
        border-radius: 5px; /* Скругленные углы */
        background-color: #f5f5f5; /* Светло-серый цвет фона */
        cursor: pointer; /* Индикация указателя при наведении */
    }

    .custom-button:hover {
        background-color: #ddd; /* Изменение цвета фона при наведении */
    }

    p {
        width: 60%;
        margin: 0 auto;
    }

</style>

<h1>Психологический тест <br />ЦИФРОВОЙ ДВОЙНИК ЧЕЛОВЕКА</h1>

<p>
    Данный тест позволяет определить ваше командное амплуа, то есть способ, которым вы реализуете свои таланты.<br /><br />
    Вас ждет 24 набора позитивных качеств, определяющих ваш уникальный стиль.<br /><br />
    В каждом из наборов проранжируйте качества от 1 до 4, где 1 – «наиболее мне соответствует», а 4 – «наименее мне соответствует».
    Значения в одном наборе <b>не могут повторяться.</b><br /><br />
    Тест займет около 10 минут. Результаты будут отправлены на указанную вами почту.<br /><br />
</p>

<p><b>Обязательно введите фамилию, имя и отчество.</b></p>
<br />
<br />

@{
    int frameNumber = 1; // начальное значение номера рамки
}

@{
    int frameNumber2 = 1; // начальное значение номера рамки
}

@{
    var arr = new List<string>();
}

<form method="post">
<div class="text-center">
    <div class="put">
        <h5 for="firstName">Фамилия:</h5>
        <input type="text" id="lastName" name="LastName"  required />
    </div>

    <div class="put">
        <h5 for="lastName">Имя:</h5>
        <input type="text" id="firstName" name="FirstName"  required />
    </div>

    <div class="put">
        <h5 for="middleName">Отчество:</h5>
        <input type="text" id="middleName" name="MiddleName"  required />
    </div>
    <br />
    <br />

    <div>
        <button class="custom-button" type="submit" onclick="Download">Отправить данные</button>
    </div>

    <div id="error-message" style="display: none">
        <i>Пожалуйста, исправьте ошибки в полях - цифры не должны повторяться!</i>
    </div>
    <br />

    @foreach (var frame in Model.Frames)
    {
        <div class="question-container">
            <div class="question-frame" id="frame@(frameNumber)">
                <h3>#@(frameNumber++)</h3>
                    @for (int i = 0; i<frame.FrameContent.Count;i++)// var question in frame.FrameContent)
                    {
                    <div class="question-input">
                        <label for="field@(frameNumber2++)">@(frame.FrameContent[i].FieldName)</label>
                            <select name="values" title="1 – «наиболее мне соответствует», 4 – «наименее мне соответствует»">
                        @if (frame.FrameContent[i].Value == "1")
                        {
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        }
                        else if (frame.FrameContent[i].Value == "2")
                        {
                            <option value="1">1</option>
                            <option value="2" selected>2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        }
                        else if (frame.FrameContent[i].Value == "3")
                        {
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3" selected>3 </option>
                            <option value="4">4</option>
                        }
                        else
                        {
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4" selected>4</option>
                        }
                        </select>
                    </div>
                 }
            </div>
        </div>
    }
</div>
</form>







